/* @kd-registry: badge v2.0 */
/* ══ Badge 角标 ══ */

.kd-badge-content {
  display: inline-flex; align-items: center; justify-content: center;
  height: 18px; padding: 0 4px; min-width: 18px;
  line-height: 14px; font-size: var(--kd-font-size-small);
  background: var(--kd-color-warning-normal); color: var(--kd-color-text-white);
  border: 2px solid var(--kd-color-fill-base);
  border-radius: 12px; box-sizing: border-box;
}

.kd-badge-content.is-fixed {
  position: absolute; top: 0; right: 10px;
  transform: translateY(-50%) translateX(100%);
}

.kd-badge-content.is-dot {
  width: 10px; height: 10px; min-width: auto; padding: 0;
  background: var(--kd-color-error-normal);
  border-radius: 50%; right: 5px;
}
