/* @kd-registry: popover v2.0 */
/* ══ Popover 气泡弹框 ══ */

.kd-popover-content {
  padding: 8px; border-radius: var(--kd-border-radius-middle);
  border: 1px solid var(--kd-color-line-regular);
  background: var(--kd-color-fill-base);
  box-shadow: var(--kd-box-shadow-large);
  font-size: var(--kd-font-size-sub-base); line-height: var(--kd-line-height-base);
  color: var(--kd-color-text-primary); min-width: 120px;
  animation: kd-popper-in .1s ease forwards;
}
